
<MudDialog>
    <DialogContent>
        <MudCard Elevation="25">
            <MudCardContent>
                <MudGrid>
                    <MudHidden @bind-Value="subCategoryModel.subcategory_id"></MudHidden>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="subCategoryModel.subcategory_name" Label="Sub Category Name" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="6">
                        <MudTextField @bind-Value="subCategoryModel.description" Label="Description" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                    </MudItem>
                </MudGrid>
                <div style="height:20px"></div>
                <MudItem xs="12" sm="12" md="12">
                        <DropDown Margin="Margin.Dense" Variant="Variant.Outlined" ValueChanged="@((id) => subCategoryModel.category_id = Convert.ToInt32(id))" TableName="tblCategory" InitialValue="@subCategoryModel.category_id.ToString()" Select="true" LabelName="Category"></DropDown>
                </MudItem>
            </MudCardContent>
        </MudCard>
    </DialogContent>
    <DialogActions>
        <br />
        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Save">Save Category Details</MudButton>
    </DialogActions>
</MudDialog>
